.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchInput{
  height: 40px;
  width: 50%;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}
