body{
  background-image:url('https://wallpaperaccess.com/full/3362990.jpg');
  background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:cover
}

h1{
  background: #18050557;
  width: 102%;
  margin: -9px;
  margin-bottom: 20px;
  color: #eb6d2d;
}

.App {
font-family: sans-serif;
text-align: center;
color: #fff;
}

.animes-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  list-style: none;
  grid-gap: 1.5rem;
  color: #fff;
}

.animes-list img{
  max-width: 100%;
  transition: all 0.5;
}

.search-input{
  height: 28px;
  width: 80%;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}
