html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  }


body{
    width: 100%;
    height: 100%;
    background-color: #03045E;
    overflow-x: hidden;
}


.animes-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  list-style: none;
  grid-gap: 1.5rem;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 64px;
}

.animes-list img{
  max-width: 100%;
  transition: all 0.5;
  -webkit-box-shadow: 8px 6px 4px rgba(255, 255, 255, 0.137);
	-moz-box-shadow:    8px 6px 4px rgba(255, 255, 255, 0.151);
	box-shadow:         8px 6px 4px rgba(255, 255, 255, 0.144);
}


